/*Background*/
html { 
  background: url(https://droldan55.github.io/EscapeRoomNarrative/Who.jpg) no-repeat center fixed; 
  background-size: cover;
}
/*Header Decoration*/
h1 {
  border: 5px solid Red;
  font-family: 'Ephesis', cursive;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left:10px;
  padding-right:10px;
   margin-right: 300px;
  margin-left: 300px;
  text-align: center;
  color:Darkblue;
  background-color:white;
  font-style: italic;
}

.round {
  border-radius: 50%;
} 
  .previous {
  background-color: #FF0000;
  color: black;
}

.next {
  background-color: #0000FF;
  color: white;
}
  
  a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.But{
  text-align: center;
}